.section {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 2s;
  transition-property: width, right;
}

.neutralSection {
  width: 33.3%;
}

.activeSection {
  width: 60%;
}

.inactiveSection {
    width: 20%;
}

.section:nth-child(odd) {
  background-color: #38015c;
}

.section:nth-child(even) {
  background-color: white !important;
}

.title {
  text-align: center;
}

.section:nth-child(odd) .title {
  color: white;
}

.section:nth-child(even) .title {
  color: black;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions button {
  margin: 1rem;
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  vertical-align: middle;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}
